@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --primary: #222121;
  --secondary: #040404;
  --accent: #0E0AB4;
}

* {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  width: 100%;
}

h1 {
  font-size: 2.25rem;
}

#nav-container {
  border-bottom: white solid;
  background-color: #090A0A;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#title {
  display: flex;
  justify-content: center;
  width: 33%;
  align-items: center;
}

#nav-right {
  display: flex;
  width: 33%;
  justify-content: flex-end;
}

svg{
  font-size: 36px;
  cursor: pointer;
  padding: 10px;
}

#nav-left{
  display: flex;
  width: 33%;
  margin-left: 25px;
}

#flag-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

#flag-view{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.25rem;
  height: 384px;
  border-radius: 5px;
  background-color: var(--primary);
}

#flag {
  font-size: 250px;
  background-color: var(--primary);
}

#disabled-attempt, #guess-container button  {
  background-color: var(--primary);
  border-radius: 5px;
  width: 31.25rem;
  margin-top: 10px;
  height: 40px;
}

#enabled-attempt {
  display: flex;
  width: 31.25rem;
  height: 40px;
  margin-top: 10px;
}

.country-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid;
  border-radius: 5px;
}

#country-attempted {
  min-width: 40%;
  max-width: 40%;
  margin-right: 10px;
}

#country-attempted p, #continent p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#continent {
  min-width: 25%;
  margin-right: 10px;
}

#language {
 min-width: 20%;
 margin-right: 10px;
}

#firstLetter {
  min-width: 5%;
}

#play-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#choice-field {
  color: white;
  width: 475px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px ;
  border-radius: 5px;
}

#guess-container button {
  width: 500px;
  background-color: var(--accent);
  font-size: 16px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#guess-container button:hover {
  background-color: #222121;
  cursor: pointer;
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  #disabled-attempt, #guess-container button  {
    background-color: var(--primary);
    border-radius: 5px;
    width: 360px;
    margin-top: 10px;
    height: 40px;
  }

  #choice-field {
    color: white;
    width: 340px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px ;
    border-radius: 5px;
  }

  #country-attempted{
    max-width: 35%;
    min-width: 35%;
  }

  #firstLetter {
    min-width: 8%;
  }

  #flag-view {
    height: 250px;
  }

  #flag {
    font-size: 130px;
  }

  #flag-view{
    width: 21.25rem;
  }

  #enabled-attempt{
    font-size: .9rem;
    width: 21.25rem;
    margin-right: 20px;
  }

  #continent {
    padding: 5px;
  }
}

/* iPads, Tablets */
/* @media screen {
  
} */

/* Small Screens, Laptops */

