@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --primary: #222121;
  --secondary: #040404;
  --accent: #0E0AB4;
}

* {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 36px;
}

#nav-container {
  border-bottom: white solid;
  background-color: #090A0A;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#title {
  display: flex;
  justify-content: center;
  width: 33%;
  align-items: center;
}

#nav-right {
  display: flex;
  width: 33%;
  justify-content: flex-end;
}

svg{
  font-size: 36px;
  cursor: pointer;
  padding: 10px;
}

#nav-left{
  display: flex;
  width: 33%;
  margin-left: 25px;
}

#flag-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

#flag-view{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 384px;
  border-radius: 5px;
  background-color: var(--primary);
}

#flag {
  font-size: 250px;
  background-color: var(--primary);
}

#disabled-attempt, #guess-container button  {
  background-color: var(--primary);
  border-radius: 5px;
  width: 500px;
  margin-top: 10px;
  height: 40px;
}

#enabled-attempt {
  display: flex;
  width: 500px;
  height: 40px;
  margin-top: 10px;
}

.country-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid;
  border-radius: 5px;
}

#country-attempted {
  min-width: 60%;
  margin-right: 10px;
}

#country-attempted p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#continent {
  width: 30%;
  margin-right: 10px;
}

#currency {
 width: 10%;
}

#play-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#choice-field {
  color: white;
  width: 475px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px ;
  border-radius: 5px;
}

#guess-container button {
  width: 500px;
  background-color: var(--accent);
  font-size: 16px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#guess-container button:hover {
  background-color: #222121;
  cursor: pointer;
}